<!DOCTYPE html>
<html>
  <head>
  <link href="/images/aa.png" rel="shortcut icon"/>
  <meta charset="utf-8">
  </head>
  <body>
    <span> Access denied</span>
    <label><a href="/user">Click here to login</a></label>
  </body>
</html>
