<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/images/aa.png" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <input type="hidden" id="refreshed" value="no">
  <script type="text/javascript">
    onload = function() {
      var e = document.getElementById("refreshed");
      if (e.value == "no") e.value = "yes";
      else {
        e.value = "no";
        location.reload();
      }
    }
  </script>
</head>
<title>Change password</title>
<% include header %>

  <body>
    <form class="container" name="passwordBlock" method="post">
      <div class="errorBlock">
        <%= d %>
      </div>
      <div class="successBlock">
        <%= successBlock %>
      </div>
      <div class="block">
        <label class="inputField">Current password</label>
        <input class="input" type="password" name="currentPassword" />
        <span id="firstNameError" class="errorMessage"></span>
      </div>
      <div class="block">
        <label class="inputField">New password</label>
        <input class="input" type="password" name="newPassword" />
        <span id="firstNameError" class="errorMessage"></span>
      </div>
      <div class="block">
        <label class="inputField">Confirm password</label>
        <input class="input" type="password" name="confirmPassword" />
        <span id="firstNameError" class="errorMessage"></span>
      </div>
      <div class="signUpBlock block">
        <input class="signUp" type="submit" value="Update" />
      </div>
    </form>
    <script src="/javascripts/validation.js"></script>
  </body>

</html>