<!DOCTYPE html>
<html>

<title>Forgot password</title>
<head>
  <link href="/images/aa.png" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta charset="utf-8">
</head>

  <body>
    <div class="container">
      <div>
        <h1>Forgot your password?</h1>
      </div>
      <div>
        <p>
          The default password is first four letters of your email address and last four digits of your mobile no.
        </p>
      </div>
      <form method="post">
        <div class="errorBlock">
          <%= errorMsg %>
        </div>
        <div class="successBlock">
          <%= successMsg %>
        </div>
        <div class="block">
          <label class="inputField">Email</label>
          <input class="input" type="email" name="email" />
          <span id="emailError" class="errorMessage"></span>
        </div>
        <div class="signUpBlock block">
          <input class="signUp" type="submit" id="update" value="Submit"  />
        </div>
      </form>
    </div>
  </body>

</html>