<link rel="stylesheet" type="text/css" href="/stylesheets/styleHeader.css"/>
<div class = 'headr'>
  <div class = 'leftHeader'>
    <div>
      <img class="icons" src="/images/2000px-Monterey_Bay_Aquarium_Logo.svg.png" alt="img" />
      <span>Welcome</span>
    </div>
  </div>
  <div class ='rightHeader'> 
    <div class = 'home'>
      <a href="<%= path %>"><img class="icons" src="/images/15766.png" title='home'></a>
    </div> 
    <div class="home">
      <a href="/user"><img class=" icons" src="/images/logout-1-128.png" title='logout'></a>
    </div>  
    <div class = 'home '>
      <a href="/user/search"><img class=" icons" src="/images/search-icon-png-26.png" title='search'></a>
    </div>
  </div>   
</div>

