<div class="left">
  <div>
    <img src= "/uploads/<%= d.imagePath %>" alt="img" class="profilePic" />
  </div>
  <div class="mainWrapper">
    <div>
      <div class="heading">Employee details</div>
      <div class="subHeading">
        <a href="/user/viewprofile"><div class="field">Personal</div></a>
        <a href="/user/account"><div class="field">Accounts</div></a>
        <a href="/user/education"><div class="field">Education</div></a>
      </div>   
    </div>
    <div>
      <div class="heading">Actions</div>
      <div class="subHeading"> 
        <a href="/user/program"><div class="field">Upcoming programs</div></a>
        <a href="/user/changePassword"><div class="field">Change password</div></a>
      </div>  
    </div>
  </div>
</div>