<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<form class="container" name="passwordBlock" method="post" novalidate ng-submit="passwordBlock.$valid && change()" >
  <div class="errorBlock">{{errorBlock}}
  </div>
  <div class="successBlock">{{successBlock}}
  </div>
  <span class='errorMessage' novalidate ng-show="passwordBlock.$submitted && passwordBlock.$invalid">All fields are required</span>
  <div class="block">
    <label class="inputField">Current password</label>
    <input class="input" type="password" name="currentPassword" required="true" ng-model="currentPassword"/>
    <span class='errorMessage' ng-show="passwordBlock.currentPassword.$touched && passwordBlock.currentPassword.$invalid">Required</span>
  </div>
  <div class="block">
    <label class="inputField">New password</label>
    <input class="input" type="password" name="newPassword" ng-model="newPassword" required="true" />
    <span class='errorMessage' ng-show="passwordBlock.newPassword.$touched && passwordBlock.newPassword.$invalid">Required</span>
  </div>
  <div class="block">
    <label class="inputField">Confirm password</label>
    <input class="input" type="password" name="confirmPassword" ng-model="confirmPassword" required="true" />
    <span class='errorMessage' ng-show="passwordBlock.confirmPassword.$touched && passwordBlock.confirmPassword.$invalid">Required</span>
    <span class='errorMessage' ng-show="passwordBlock.confirmPassword.$error.match ">Passwords do not match</span>
  </div>
  <div class="signUpBlock block">
    <input class="signUp" type="submit" value="Update" />
  </div>
</form>