<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/modern-business.css" rel="stylesheet">
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">INcorporation</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/images/POV-01.jpeg" alt="">
    </div>
    <div class="col-md-6">
      <h2>About INc</h2>
      <p>Our distinct Purpose and our operational expertise across our business model will help realise our vision of accelerating growth in the business, while reducing our environmental footprint and increasing our positive social impact.</p>
      <p>This is captured in the INc Sustainable Living Plan.By combining our multinational expertise with our deep roots in diverse local cultures, we’re continuing to provide a range of products to suit a wealth of consumers. We’re also strengthening our strong relationships in the emerging markets we believe will be significant for our future growth.</p>
      <p>And by leveraging our global reach and inspiring people to take small, everyday actions, we believe we can help make a big difference to the world.“But this means that business has to change. The INc Sustainable Plan is a blueprint for sustainable growth.”</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="/images/cc.png" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>CEO</small>
          </h3>
          <p>Under him INc has an ambitious vision to fully decouple its growth from overall environmental footprint .</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="/images/co.png" alt="">
        <div class="caption">
          <h3>Aocdn Vduba<br>
            <small>CFO</small>
          </h3>
          <p>Under him INc has an ambitious vision to fully decouple its growth from overall environmental footprint .</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="/images/cff.jpg" alt="">
        <div class="caption">
          <h3>Jane Smith<br>
            <small>COO</small>
          </h3>
          <p>Under him INc has an ambitious vision to fully decouple its growth from overall environmental footprint .</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Customers</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/1.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/2.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/3.jpg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/4.jpeg" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/5.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="/images/6.jpg" alt="">
    </div>
  </div>
</div>
