<link rel="stylesheet" type="text/css" href="/stylesheets/styleSlide.css"/>

<div class="imageslide" ng-switch='slideshow' ng-animate="'animate'">
    <div class="slider-content" ng-switch-when="1">
        <img  class='imss' src="images/Corporate law photo 2 for website.jpg" />
    </div>  
<div class="slider-content" ng-switch-when="2">
    <img class='imss' src="images/pic.jpg"/>
    </div>
<div class="slider-content" ng-switch-when="3">
    <img class='imss' src="images/pic2.jpg"/>
    </div>  
<div class="slider-content" ng-switch-when="4">
    <img class='imss'   src="images/pic3.jpg"/>
    </div>  
</div>