<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/ng-template" id="ng-confirm-template">
<link rel="stylesheet" href="/css/bootstrap.min.css">
  <div class="modal-body">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link pull-left" ng-click="no()">No</button>
    <button class="btn btn-primary pull-right" ng-click="yes()">Yes</button>
  </div>
</script>
<div class="heading">
  <ul>
    <table>
      <tr class="tableHead">
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Designation</th>
        <th><img class="imgicon" src="/images/trashcan-128.png"></th>
      </tr>
        <tr ng-repeat="employee in employees">
          <td>{{employee.personalInfo.firstName}}</td>
          <td>{{employee.personalInfo.lastName }}</td>
          <td> <a ng-href="#/search/{{employee._id}}">{{employee.email}}</td></a>
          <td>{{employee.designation}}</td>
          <td><button class="buttonicon" ng-confirm="Are you sure you want to delete '{{employee.personalInfo.firstName}}'" ng-click='delete(employee.email)'><img class="imgicon" src="/images/1469791490_Close_Box_Red.png" alt="user"></button></td>
        </tr> 
    </table>  
  </ul>
</div>  