<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="container">
      <div>
        <h1>Reset your password?</h1>
      </div>
      <div>
        <p>
          Enter your new password
        </p>
      </div>
      <form method="post" name="resetPassword" novalidate ng-submit="resetPassword.$valid && reset()">
        <div class="errorBlock">
          {{errorMsg}}
        </div>
        <div class="successBlock">
           {{successMsg}}
        </div>
         <span class='errorMessage' novalidate ng-show="resetPassword.$submitted && resetPassword.$invalid">Cannot be left blank </span>
        <div class="block">
          <label class="inputField">New Password</label>
          <input class="input" type="password" name="password" required="true" ng-model="password"/>
          <span id="emailError" class="errorMessage"></span>
        </div>
        <div class="signUpBlock block">
          <input class="signUp" type="submit" id="update" value="Submit"  />
        </div>
      </form>
    </div>